.filters-bar {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}


.filters-input,
.filters-select {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background: #fff;
  min-width: 180px;
}

.filters-input.years {
  width: 120px; 
  min-width: 120px;
}

.filters-input:focus,
.filters-select:focus {
  border-color: #bbb;
}


.filters-select:disabled,
.filters-input:disabled {
  background: #f6f6f6;
  cursor: not-allowed;
  opacity: 0.7;
}


.btn-reset {
  height: 38px;
  padding: 0 14px;
  border: 1px solid #ddd;
  border-radius: 999px;
  background: #fafafa;
  margin-left: auto; 
  cursor: pointer;
}

.btn-reset:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 640px) {
  .filters-bar {
    gap: 10px;
  }
  .btn-reset {
    margin-left: 0;
    width: 100%;
  }
}

.filters-input.years::-webkit-inner-spin-button,
.filters-input.years::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filters-input.years {
  -moz-appearance: textfield; 
}

.filters-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6H0z' fill='%23666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
  padding-right: 30px; 
}


.filters-select:disabled {
  background-image: none;
  color: #999;
}
